In [13]:
# import database sqlite3
import sqlite3

In [14]:
#create database
conexao = sqlite3.connect('mercado')

In [15]:
# point to database
Cursor = conexao.cursor()

In [16]:
# Create table
Cursor.execute(
    'CREATE TABLE cliente (Data text, Nome text, Idade real)'
)

#Make commit
conexao.commit()

OperationalError: table cliente already exists

In [20]:
# Insert values in the table
Cursor.execute('INSERT INTO cliente VALUES ("20/03/2018","Isaac", 38)')

OperationalError: database is locked

In [21]:
import random
# insert register with randon python
for loop in range(10):
    numero = random.randint(10,20)
    
    Cursor.execute(f'INSERT INTO cliente VALUES ("01/02/1995","Daniel",{numero})')

OperationalError: database is locked

In [19]:
# Query sql
consulta = Cursor.execute('SELECT * FROM cliente').fetchall()

print(consulta)

[]